<% content_for :title, "ヤキドキ｜ホーム" %>

<div class="grid gap-4 place-items-center">
  <h1 class="text-3xl font-bold text-amber-900">ヤキドキ🔥</h1>
  <p class="text-slate-700 text-center">押して、離して、焼きどき判定。</p>

  <div class="grid gap-3 w-full max-w-sm">
    <%= link_to "初級 🐟 サンマ", games_sanma_path, class:"w-full text-center py-4 rounded-2xl bg-amber-600 hover:bg-amber-700 text-white font-semibold" %>
    <%= link_to "中級 🍠 焼き芋", games_yakiimo_path, class:"w-full text-center py-4 rounded-2xl bg-amber-600 hover:bg-amber-700 text-white font-semibold" %>
    <%= link_to "上級 🌰 栗", games_kuri_path, class:"w-full text-center py-4 rounded-2xl bg-amber-600 hover:bg-amber-700 text-white font-semibold" %>
  </div>
</div>
